extends ../profilelayout


block content
 
  .container.mt-5.mb-4.ms-5
    .row.g-5
      .col.order-md-last
        .p-5.mb-4.bg-body-tertiary.rounded-3
          .container-fluid.py-5
            h1.display-5.fw-bold Forgot to add something to your cart?
            br
            p.col-md-8.fs-4
              | Shop around then come back to pay!
