extends ../profilelayout


block content
 
  .container.mt-5.mb-4.ms-5
    .row.g-5
      .col.order-md-last
        .p-5.mb-4.bg-body-tertiary.rounded-3
          .container-fluid.py-5
            h1.display-5.fw-bold Payment Successful!
            br
            h5 We appreciate your business! If you have any questions, please email
            p.col-md-8.fs-4
              a(href='mailto:dmatthis@airmail.cc') dmatthis@airmail.cc
            br
            br
            a.btn.btn-danger.btn-lg(href='/hotels/current-subscriptions') View Subscriptions



  script.
    document.getElementById('cart-item-count').textContent = '';